<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TokoOnline"
        tools:targetApi="31">
        <activity
            android:name=".ProdukPakaian5Activity"
            android:exported="false" />
        <activity
            android:name=".ProdukPakaian4Activity"
            android:exported="false" />
        <activity
            android:name=".ProdukPakaian3Activity"
            android:exported="false" />
        <activity
            android:name=".ProdukPakaian2Activity"
            android:exported="false" />
        <activity
            android:name=".ProdukPakaian1Activity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".KategoriActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".LihatSemuaActivity"
            android:exported="false" />
        <activity
            android:name=".MakananActivity"
            android:exported="false" />
        <activity
            android:name=".MakeupActivity"
            android:exported="false" />
        <activity
            android:name=".ElektronikActivity"
            android:exported="false" />
        <activity
            android:name=".PakaianActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>